In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types
import pandas as pd
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [2]:
df_xoso = spark.read.options(inferSchema = 'True', header = 'True').csv("xoso_2024-10-10.csv")

In [3]:
df_xoso.show(10)

+----------+--------------------+
|    cob_dt|         list_result|
+----------+--------------------+
|01-10-2023|03,06,07,08,15,23...|
|02-10-2023|00,02,09,11,27,32...|
|03-10-2023|00,05,15,18,19,23...|
|04-10-2023|00,07,11,16,27,28...|
|05-10-2023|01,02,03,07,10,14...|
|06-10-2023|02,07,08,09,16,17...|
|07-10-2023|06,10,11,12,13,18...|
|08-10-2023|00,02,05,14,18,20...|
|09-10-2023|03,04,11,17,19,25...|
|10-10-2023|04,13,18,19,21,22...|
+----------+--------------------+
only showing top 10 rows

In [4]:
from pyspark.sql import functions as F

In [5]:
list_number = ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09']

for i in range(10, 100):
    list_number.append(str(i))

In [6]:
print(list_number)

['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99']

In [7]:
df_xoso.createOrReplaceTempView("xoso_table")

In [51]:
query = """
    SELECT COUNT(cob_dt)
    FROM xoso_table;
"""

# Bước 3: Thực thi truy vấn SQL
df_count_time = spark.sql(query)

# Hiển thị kết quả
df_count_time.show()

+-------------+
|count(cob_dt)|
+-------------+
|          375|
+-------------+

In [19]:
query = """
    SELECT COUNT(*) AS count_03
    FROM xoso_table
    WHERE list_result like '%03%';
"""

# Bước 3: Thực thi truy vấn SQL
result_df = spark.sql(query)

# Hiển thị kết quả
result_df.show()

+--------+
|count_03|
+--------+
|      95|
+--------+

In [21]:
count_number = result_df.first()
count_number = count_number['count_03']
print(count_number)

95

In [10]:
from pyspark.sql import SparkSession, Row

In [8]:
list_result_count = list()
for number in list_number:
    query = f"""
        SELECT COUNT(*) AS count_number
        FROM xoso_table
        WHERE list_result like '%{number}%';
    """

    # Bước 3: Thực thi truy vấn SQL
    result_df = spark.sql(query)
    count_number = result_df.first()['count_number']
    list_result_count.append({
        'number' : number,
        'count_number': count_number
    })

print(list_result_count)

[{'number': '00', 'count_number': 83}, {'number': '01', 'count_number': 75}, {'number': '02', 'count_number': 86}, {'number': '03', 'count_number': 95}, {'number': '04', 'count_number': 81}, {'number': '05', 'count_number': 74}, {'number': '06', 'count_number': 86}, {'number': '07', 'count_number': 89}, {'number': '08', 'count_number': 81}, {'number': '09', 'count_number': 81}, {'number': '10', 'count_number': 102}, {'number': '11', 'count_number': 98}, {'number': '12', 'count_number': 90}, {'number': '13', 'count_number': 95}, {'number': '14', 'count_number': 91}, {'number': '15', 'count_number': 90}, {'number': '16', 'count_number': 96}, {'number': '17', 'count_number': 82}, {'number': '18', 'count_number': 94}, {'number': '19', 'count_number': 92}, {'number': '20', 'count_number': 100}, {'number': '21', 'count_number': 95}, {'number': '22', 'count_number': 101}, {'number': '23', 'count_number': 89}, {'number': '24', 'count_number': 91}, {'number': '25', 'count_number': 97}, {'number': '26', 'count_number': 92}, {'number': '27', 'count_number': 88}, {'number': '28', 'count_number': 81}, {'number': '29', 'count_number': 94}, {'number': '30', 'count_number': 79}, {'number': '31', 'count_number': 79}, {'number': '32', 'count_number': 113}, {'number': '33', 'count_number': 87}, {'number': '34', 'count_number': 62}, {'number': '35', 'count_number': 90}, {'number': '36', 'count_number': 99}, {'number': '37', 'count_number': 83}, {'number': '38', 'count_number': 70}, {'number': '39', 'count_number': 93}, {'number': '40', 'count_number': 87}, {'number': '41', 'count_number': 95}, {'number': '42', 'count_number': 91}, {'number': '43', 'count_number': 97}, {'number': '44', 'count_number': 93}, {'number': '45', 'count_number': 98}, {'number': '46', 'count_number': 79}, {'number': '47', 'count_number': 88}, {'number': '48', 'count_number': 78}, {'number': '49', 'count_number': 113}, {'number': '50', 'count_number': 85}, {'number': '51', 'count_number': 72}, {'number': '52', 'count_number': 110}, {'number': '53', 'count_number': 85}, {'number': '54', 'count_number': 78}, {'number': '55', 'count_number': 81}, {'number': '56', 'count_number': 92}, {'number': '57', 'count_number': 79}, {'number': '58', 'count_number': 72}, {'number': '59', 'count_number': 105}, {'number': '60', 'count_number': 80}, {'number': '61', 'count_number': 103}, {'number': '62', 'count_number': 90}, {'number': '63', 'count_number': 95}, {'number': '64', 'count_number': 77}, {'number': '65', 'count_number': 92}, {'number': '66', 'count_number': 96}, {'number': '67', 'count_number': 86}, {'number': '68', 'count_number': 81}, {'number': '69', 'count_number': 97}, {'number': '70', 'count_number': 89}, {'number': '71', 'count_number': 77}, {'number': '72', 'count_number': 98}, {'number': '73', 'count_number': 97}, {'number': '74', 'count_number': 82}, {'number': '75', 'count_number': 88}, {'number': '76', 'count_number': 98}, {'number': '77', 'count_number': 83}, {'number': '78', 'count_number': 86}, {'number': '79', 'count_number': 105}, {'number': '80', 'count_number': 83}, {'number': '81', 'count_number': 92}, {'number': '82', 'count_number': 98}, {'number': '83', 'count_number': 82}, {'number': '84', 'count_number': 83}, {'number': '85', 'count_number': 74}, {'number': '86', 'count_number': 90}, {'number': '87', 'count_number': 82}, {'number': '88', 'count_number': 79}, {'number': '89', 'count_number': 102}, {'number': '90', 'count_number': 111}, {'number': '91', 'count_number': 81}, {'number': '92', 'count_number': 90}, {'number': '93', 'count_number': 85}, {'number': '94', 'count_number': 91}, {'number': '95', 'count_number': 86}, {'number': '96', 'count_number': 99}, {'number': '97', 'count_number': 94}, {'number': '98', 'count_number': 92}, {'number': '99', 'count_number': 95}]

In [11]:
data = list()

for i in list_result_count:
    data.append(Row(keyword=i['number'], count=i['count_number']))

In [12]:
df = spark.createDataFrame(data)

In [13]:
df.show()

+-------+-----+
|keyword|count|
+-------+-----+
|     00|   83|
|     01|   75|
|     02|   86|
|     03|   95|
|     04|   81|
|     05|   74|
|     06|   86|
|     07|   89|
|     08|   81|
|     09|   81|
|     10|  102|
|     11|   98|
|     12|   90|
|     13|   95|
|     14|   91|
|     15|   90|
|     16|   96|
|     17|   82|
|     18|   94|
|     19|   92|
+-------+-----+
only showing top 20 rows